body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('pxfuel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
}

h1, .anime-section h2, .anime-item label {
    color: #eee; /* Adjust the color as needed */
}

.anime-section {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(85, 85, 85, 0.7), rgba(34, 34, 34, 0.7));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    text-align: left;
    transition: background 0.3s ease;
}

.anime-section:hover {
    background: linear-gradient(rgba(85, 85, 85, 0.7), rgba(119, 119, 119, 0.7), rgba(68, 68, 68, 0.7));
}

.anime-section h2 {
    margin-top: 0;
    color: #eee; /* Adjust the color as needed */
}

.anime-list {
    list-style-type: none;
    padding: 0;
}

.anime-item {
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}

.anime-item:hover {
    transform: scale(1.05);
}

.anime-item label {
    display: block;
    font-size: 16px;
    color: #ccc;
}

.anime-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#toWatchList, #watchedList {
    display: inline-block;
    vertical-align: top;
    width: 48%; /* Adjust the width as needed */
    margin-right: 2%; /* Adjust the margin as needed */
}

#watchedList {
    margin-right: 0; /* No margin on the right for the last element */
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333; /* Adjust the color as needed */
}

input[type="text"] {
    background-color: #fff; /* Adjust the background color as needed */
    color: #333; /* Adjust the color as needed */
}

input[type="text"]:focus {
    outline: none;
    background-color: #eee; /* Adjust the background color as needed */
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #45a049;
    color: #fff;
}

.checked label {
    text-decoration: line-through;
    color: #888;
}

.watched-separator {
    margin-top: 20px;
    border-top: 2px solid #555;
    padding-top: 10px;
}

#totalToWatch, #totalWatchedList {
    cursor: text;
    background-color: none;
    background: none;
    color: #ccc;
    padding: 0px;
    font-size: 30px;
}

#ttw, #twl {
    background-color: #222;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    animation: pulsate 2s ease-in-out infinite, changeColor 4s linear infinite;
}

#ttw:hover, #twl:hover {
    background-color: #4CAF50;
    color: #fff;
    animation: none;
    transform: scale(1.05);
}

@keyframes pulsate {
    0%, 100% {
        text-shadow: 0 0 20px rgba(255, 0, 0, 0.8),
        0 0 20px rgba(0, 255, 0, 0.8),
        0 0 20px rgba(0, 0, 255, 0.8);
    }
    50% {
        text-shadow: 0 0 30px rgba(255, 0, 0, 0.8),
        0 0 30px rgba(0, 255, 0, 0.8),
        0 0 30px rgba(0, 0, 255, 0.8);
    }
}

@keyframes changeColor {
    0% { color: rgb(255, 0, 0); } /* Red */
    25% { color: rgb(0, 255, 0); } /* Green */
    50% { color: rgb(0, 0, 255); } /* Blue */
    75% { color: rgb(255, 255, 0); } /* Yellow */
    100% { color: rgb(255, 0, 255); } /* Magenta */
}

/* Add this to your existing CSS file */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.tab button :active {
    background-color: #398a31;
}
.glow-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px #4CAF50;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  
  .glow-btn:hover {
    box-shadow: 0 0 40px #4CAF50;
  }
  #navigation {
            text-align: center;
            margin-top: 20px;
        }

        #navigation button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            margin: 0 10px;
            transition: background-color 0.3s ease;
        }

        #navigation button:hover {
            background-color: #0056b3;
